/* Set aall colors to readable format*/
*{
    -primary-dark: #455A64;
    -primary-light: #CFD8DC;
    -primary: #607D8B;
    -accent: #00BCD4;
    -text-dark: #212121;
    -text-light: #FFFFFF;
    -text-secondary: #757575;
    -divider: #BDBDBD;

    -common-gradient: linear-gradient(to right bottom, #FF8C00FF, #e88001, #c06a00, #e60b79, #ef1872, #f5276b, #fa3564, #fe415e, #ff5158, #ff5f52, #ff6c4e, #ff794b);
    -secondary-gradient: linear-gradient(to right bottom, #1ec400, #00bd3a, #00b654, #00ae67, #00a574, #00a280, #009e8a, #009a91, #009b9d, #009ba8, #009bb2, #009abb);
}

.mfx-scroll-pane #chat-list-gridpane{
    -fx-background-color: -primary;
}

#chat-list{
    -fx-background-color: -primary;
    -fx-border-style: none;
}

.chat-label, #new-chat-button{
    -fx-background-color: -primary-light;
    -fx-font-family: "Roboto Light";
    -fx-font-size: 16;
    -fx-text-fill: -primary;
    -fx-min-width: 100;
    -fx-min-height: 40;
    -fx-label-padding: 5 5 5 5;
    -fx-padding: 5;
    -fx-border-insets: 5;
    -fx-background-insets: 5;
    -fx-background-radius: 5;
}

#new-chat-button{
    -fx-background-color: -accent;
}

#name-field{
    -fx-border-color: -accent;
    -fx-background-color: -primary-light;
    -fx-text-fill: -primary;

}